$desktopWidth: 1024px;
$mobileWidth: 764px;            // TODO: React to mobile devices  

$sectionPadding: 55px 0;
$sectionPaddingInner: 0 55px;
$sectionPaddingMobile: 35px 0;
$sectionPaddingInnerMobile: 0 24px;

$fontSizeLarge: 28px;
$fontSizeMedium: 24px;
$fontSizeRegular: 18px;
$fontSizeSmall: 13px;

$colorGrey: #444444;
$colorGreyLight: #888888;
$colorGreyLighter: #cccccc;
$colorPrimary: #00ab44;
$colorComplimentary: #ab0033;

@mixin button($textColor, $backgroundColor) {
    color: $textColor;
    background-color: $backgroundColor;
    padding: 10px 16px;
    margin-right: auto;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.15s linear;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $fontSizeSmall;

    &:hover {
        background-color: $backgroundColor - #222222;
    }
}

@mixin section() {
    width: 100%;
    padding: $sectionPadding;

    @media only screen and (max-device-width: $mobileWidth) {
        padding: $sectionPaddingMobile;
    }

    &__section-inner {
        padding: $sectionPaddingInner;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-device-width: $mobileWidth) {
            padding: $sectionPaddingInnerMobile;
            flex-direction: column;
            align-items: center;
        }
    }
}