extends ./_layout.pug

block title
  <title>Simon Cousineau</title>

block content
  include ./includes/nav.template.pug
  include ./includes/about.template.pug
  include ./includes/summary.template.pug
  include ./includes/projects.template.pug
  include ./includes/footer.template.pug