// Needs Bannnnnnner
include ./includes/nav.template.jade
include ./includes/about.template.jade
include ./includes/summary.template.jade
include ./includes/separator.template.jade
include ./includes/projects.template.jade
include ./includes/footer.template.jade