.about
    .about__section-inner
        .about__image-wrap
            img.about__image(src="images/profile.jpg")
        .about__wrapper
            .about__title Get to know me!
            .about__content I'm a Computer Engineering student at the University of Waterloo. I am interested in embedded systems and digital hardware, and have previous experience with web technologies and cloud platform development. I'm a developer at heart, and I'm always trying to find the best way to solve problems. I'm a hard working, go-getter who likes getting things done, and doing things well. I work best in teams with strong collaboration and I love taking initiative for new ideas. <br/>Interested in working together? I'd love to hear from you!
            .about__link-container
                a.about__link(href="https://www.linkedin.com/in/simon-cousineau", target="_blank") Connect on LinkedIn
                a.about__link(href="https://github.com/blazingbbq", target="_blank") My Github