@import '../globals';

.about {
    @include section();

    &__image-wrap {
        flex: 0 1 50%;
        max-width: $desktopWidth / 2;

        @media screen and (max-width: $mobileWidth) {
            max-width: 100vw;
        }
    }

    &__image {
        display: block;
        width: 100%;

        @media only screen and (max-width: $mobileWidth) {
            max-width: 100vw;
            margin: 0 auto;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        justify-content: center;
        max-width: $desktopWidth / 2;
        padding: 24px 0 24px 32px;
        text-align: left;

        @media screen and (max-width: $mobileWidth) {
            padding-left: 0;
            max-width: 100vw;
        }
    }

    &__title {
        font-size: $fontSizeLarge;
        color: $colorGrey;
        font-weight: 550;
        margin-bottom: 20px;
    }

    &__content {
        font-size: $fontSizeRegular;
        color: $colorGreyLight;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    &__linkedin {
        @include button(white, $colorPrimary);

        @media screen and (max-width: $mobileWidth) {
            margin: 0 auto;
        }
    }
}