@import '../globals';

.about {
    width: 100%;
    padding: $sectionPadding;

    &__section-inner {
        padding: $sectionPaddingInner;
        display: flex;
        justify-content: center;
    }

    &__image-wrap {
        flex: 0 1 50%;
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 512px;
        margin-left: auto;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        justify-content: center;
        padding: 24px 0 24px 32px;
        text-align: left;
    }

    &__title {
        font-size: $fontSizeLarge;
        color: $colorGrey;
        font-weight: 550;
        margin-bottom: 20px;
    }

    &__content {
        font-size: $fontSizeRegular;
        color: $colorGreyLight;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    &__linkedin {
        @include button(white, $colorPrimary);
    }
}