.footer
    .footer__section-inner
        .footer__title Like what you see? Let's talk!
        .footer__contact-info You can contact me via email at <a href="mailto:sr2cousi@uwaterloo.ca")><i class="material-icons footer__icon">email</i> sr2cousi@uwaterloo.ca,</a> <br/>or reach me by phone at (613) 700-3076.