script.
    function goTo(to) {
        $('html,body').animate({ scrollTop: $(to).offset().top }, 'medium');
    }

.nav
    each element in [{ name: "About", destination: ".about"}, { name: "Summary", destination: ".summary"}, { name: "Projects", destination: ".projects"}, { name: "Experience", destination: "#experience"}]
        .nav__button(onclick=`goTo('${element.destination}')`)
            span.nav__button-text #{element.name}