mixin summaryItem(icon, title, content)
    .summary__item-container
        .summary__image-wrap
            i.material-icons.summary__icon= icon
        .summary__text-container
            .summary__item-title= title
            .summary__item-content= content

.summary
    .summary__section-inner
        .summary__column-container
            +summaryItem(
                "phonelink",
                "Front-End Technologies",
                "Experience with front-end technologies through multiple personal projects and a coop position as a Mobile Application Developer")
            +summaryItem(
                "dashboard",
                "User Interface Design",
                "Proficiency developing user interfaces culminating in a study tool for the House of Commons Page Program built in Java")
            +summaryItem(
                "build",
                "Robotics Systems",
                "Experience designing and building robotic systems through participation in various robotic competitions")
        .summary__column-container
            +summaryItem(
                "message",
                "Strong Communication",
                "Excellent communication skills in both French and English which has allowed the development of meaningful relationships with customers and coworkers")
            +summaryItem(
                "group",
                "Team-Work",
                "Strong team-work abilities demonstrated through multiple years organizing events, and working a number of jobs where effective communication is crucial")
            +summaryItem(
                "whatshot",
                "Self Starter",
                "Fast learner and independant worker who loves simple, elegant solutions to complex problems")